@font-face {
    font-family: Sztylet;
    src: url('/assets/fonts/SztyletBold-aOKK.otf') format('open-type');
}

@font-face {
    font-family: Hussar;
    src: url('/assets/fonts/HussarBd-GwMa.ttf') format('truetype');
}

@font-face {
    font-family: Pfennig-italic;
    src: url('/assets/fonts/PfennigItalic-mV5P.ttf') format('truetype');
}

@font-face {
    font-family: Moonrising;
    src: url('/assets/fonts/Moonrising-GOogy.ttf') format('truetype');
}

div.wrapper {
    background-color: rgb(42, 37, 33);
}

/* MOD TITLE BAR */
div.titlebar {
    background-image: linear-gradient(90deg, rgb(23, 23, 22) 4%, rgb(62, 56, 49) 20%, rgb(62, 56, 49) 50%, rgb(62, 56, 49) 80%, rgb(23, 23, 22) 96%);
    filter: drop-shadow(0 0.2rem 0.6rem #000000);
}

p.pageName {
    color: rgba(255, 255, 255, 0.561);
    background: linear-gradient(0deg, rgb(29, 28, 28) 20%, rgb(199, 199, 199) 73%);
    background-clip: text;
    font-family: Pfennig-italic;
    font-size: 2.4rem;
    margin: 0;
    padding: 0;
    padding-bottom: 0.4rem;
    text-shadow: 0 0 0.2rem #131211c8;
}

/* BACKGROUND */
div.background {
    background-image: url(/assets/images/brickwall005edit.png);
    background-size: 56rem;
    border-left: 24rem solid;
    border-right: 24rem solid;
    border-image-slice: 100;
    border-image-source: linear-gradient(90deg, rgb(42, 37, 33) 0%, rgba(255, 255, 255, 0) 4%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 96%, rgba(42, 37, 33, 1) 100%);
}

/* FOREGROUND */
div.foreground {
    background-color: rgb(37, 36, 35);
    border-radius: 0.3rem;
    box-shadow: 0 0 0.5rem 0.1rem #000000a6;
    border: 0.16rem;
    border-style: solid;
    border-color: rgba(78, 71, 67, 0.319);
}

/* NAV BAR */
div.navBar {
    background-color: rgb(191, 188, 182);
    box-shadow: inset 0 0 2rem 1rem rgb(149, 146, 140);
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

/* NAV BUTTONS */
a.pageButton {
    border-radius: 0.32rem;
    text-decoration: none;
    -webkit-user-drag: none;
}

.pageButton>p {
    text-overflow: clip;
    max-lines: 1;
    word-spacing: 0.4rem;
    white-space: nowrap;
    font-family: Hussar;
    font-size: 1.1rem;
    color: rgb(43, 40, 39);
    background: linear-gradient(180deg, rgb(43, 40, 39) 0%, rgb(61, 56, 55) 100%);
    background-clip: text;
    user-select: none;
}

.pageButton>p:hover {
    color: rgb(179, 82, 21);
    text-shadow: 0 0 0.1rem rgba(132, 61, 22, 0.545);
}

a.currentPage {
    background: linear-gradient(180deg, rgb(43, 40, 39) 0%, rgb(61, 56, 55) 100%);
}

.currentPage>p,
.currentPage>p:hover {
    color: rgb(203, 202, 198);
}

/* COPYRIGHT */
p.copyrightNotice {
    color: rgb(64, 64, 64);
    font-size: small;
}